html
	head
		title= "Kortlink forside"
	body
		h1= "Oversigt"

		h3= "Besøg: " + data["counter"]

		hr

		p= "Historik:"

		each val, index in data["historik"]

			ul
				li= "Id: " + val[0]["id"]
				li= "Kortlink: " + val[0]["kortlink"]
				li= "Link: " + val[0]["link"]
		else
			ul
				li= "There are no values"